{% extends "base.html" %}

{% block titulo  %} Inicio {% endblock %}

{% block contenido  %}

<main>
    <section class="staff">
        <div class="staffr">
            <h2 class="titulo">ADMINISTRADORES</h2>
            <h4>En total nosotros 5 administramos la pagina cada uno con su rol</h4>
            <div class="staffg-port">
                <div class="staffi-port">
                    <img src="../../static/img/anthony.jpg" alt="">
                    <div class="staff-galeria">
                        <p>Anthony Lopez</p>
                    </div>
                </div>
                <div class="staffi-port">
                    <img src="../../static/img/ruben.jpg" alt="">
                    <div class="staff-galeria">
                        <p>Ruben Bones</p>
                    </div>
                </div>
                <div class="staffi-port">
                    <img src="../../static/img/pedro.jpg" alt="">
                    <div class="staff-galeria">
                        <p>Pedro Quinto</p>
                    </div>
                </div>
                <div class="staffi-port">
                    <img src="../../static/img/linda.jpg" alt="">
                    <div class="staff-galeria">
                        <p>Linda Espinoza</p>
                    </div>
                </div>
                <div class="staffi-port">
                    <img src="../../static/img/lissette.jpeg" alt="">
                    <div class="staff-galeria">
                        <p>Lissette Arevalo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}